@import
	url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

body {
	background: #4568DC; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #B06AB3, #4568DC);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.details, .education {
	text-align: left;
	padding-left: 80px;
}

.skills {
	text-align: left;
}

.efficiency {
	text-align: left;
	text-indent: 40px;
}